<div class="declaration-section">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title class="mat-panel-title">
          {{ pageTitle }}</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div>
        <div class="flex-container" >
            <mat-tab-group class="tab-container">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                    Importer
                  </ng-template>
                  <h6>Content 1</h6>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                    Exporter
                  </ng-template>
                  <h6>Content 2</h6>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                    Declarant
                  </ng-template>

                  <h6>Content 3</h6>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                      Buyer
                    </ng-template>
                    <h6>Content 6</h6>
                  </mat-tab>

                  <mat-tab>
                      <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                        Seller
                      </ng-template>
                      <h6>Content 7</h6>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                          Representitive
                        </ng-template>
                        <h6>Content 8</h6>
                      </mat-tab>


              </mat-tab-group>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
