  <div class="declaration-section">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight">
          <mat-panel-title class="mat-panel-title"> {{pageTitle}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="flex-container">
            <div class="flex-item-declarationPary-left">
              <mat-accordion class="party-headers-align">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{exporterPartyTitle}}</mat-panel-title>
                    <mat-panel-description>
                      Account Name: {{exporterAccountName}}
                    </mat-panel-description>
                    <mat-icon>swap_vert</mat-icon>
                  </mat-expansion-panel-header>
                  <div class="controls-wrapper">
                    <div class="flex-container">
                      <div class="flex-item-party-controls-left">
                        <app-input
                        [exporterAccountName]='exporterAccountName'
                        (accountNameOnPropertyChanged)="onExporterAccountChanged($event)">
                      </app-input>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="flex-item-declarationPary-right">
                <mat-accordion class="party-headers-align" hideToggle>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{importerPartyTitle}}</mat-panel-title>
                      <mat-panel-description>
                        Account Name: {{importerAccountName}}
                      </mat-panel-description>
                      <mat-icon>swap_vert</mat-icon>
                    </mat-expansion-panel-header>
                    <div class="controls-wrapper">
                      <div class="flex-container">
                        <div class="flex-item-party-controls-right">
                          <app-input
                          [importerAccountName]='importerAccountName'
                          (accountNameOnPropertyChanged)="onImporterAccountChanged($event)">
                        </app-input>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


