@import url('../../../../../../../scss/flex-box.scss');
@import url('../../../../../../../scss/declaration.scss');

.labelAlignment {
    margin-left: 3px;
    padding-top: 8px;
    font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
  }

  @media all and (max-width: 800px) {
    .labelAlignment {
      margin-left: 0px;
      padding-top: 8px;
      font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
    }
  }

  .declaration-type-combobox {
    width: 350px;
    max-width: 350px;
    font-size: 12px;
    border-bottom: 1px gray solid
  }

  @media all and (max-width: 800px) {
    .declaration-type-combobox {
      width: 190px;
      max-width: 190px;
      font-size: 12px;
      border-bottom: 1px gray solid
    }
  }

  .badge-codes-combobox {
    width: 360px;
    max-width: 360px;
    font-size: 12px;
    border-bottom: 1px gray solid
  }

  @media all and (max-width: 800px) {
    .badge-codes-combobox {
      width: 200px;
      max-width: 200px;
      font-size: 12px;
      border-bottom: 1px gray solid
    }
  }

  .trader-reference-inputBox {
    width: 310px;
    max-width: 310px;
    background-color: inherit;
    border: none;
    border-bottom: 1px gray solid;
  }

  @media all and (max-width: 800px) {
    .trader-reference-inputBox {
      width: 147px;
    }
  }
  ::ng-deep .mat-option-text.mat-option-text {
    word-wrap: break-word;
    white-space: pre-line;
    padding: 5px;
    margin: 2px;
    line-height: 15px;
  }

  // Turns off animation when input box is selected
  ::ng-deep:focus {
    outline: none;
    border: 0;
 }
