/* .wrapper{
  margin: 0 0 0 0;
  }

  .flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-wrap: wrap;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .controls-wrapper {
  border: DodgerBlue 2px solid;
  border-radius: 8px;
  }

  .declaration-parties-wrapper{
    border: DodgerBlue 2px solid;
  border-radius: 8px;
  }

  .flex-item-declarationPary-left {
    overflow-y: auto;
    margin-right: 5px;
    //flex-grow: 0;
    width: 475px;
    flex: 0 0 475;
  }

  @media all and (max-width: 800px) {
    .flex-item-declarationPary-left {
      overflow-y: auto;
      margin-right: 5px;
      //flex-grow: 0;
      width: 350px;
      flex: 0 0 350px;
    }
  }

  .flex-item-declarationPary-right {
    overflow-y: auto;
    margin-right: 5px;
    //flex-grow: 2;
    width: 475px;
    flex: 0 0 475px;
  }

  @media all and (max-width: 800px) {
    .flex-item-declarationPary-right {
      overflow-y: auto;
      margin-right: 5px;
      //flex-grow: 0;
      width: 350px;
      flex: 0 0 350px;
    }
  }

  @media all and (max-width: 800px) {
    .labelAlignment {
      margin-left: 0px;
      padding-top: 8px;
      font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;
    }
  }

  .party-inputBox {
    border: none;
    background: none;
    padding: 0;
    text-align: left;
    font-size: 12px;
    border: #673ab7 2px solid;
    border-radius: 5px;
    height: 15px;
    padding: 9px;
    width: 100px;
  }

  .party-inputBox-width{
  width: 220px;
  }

  @media all and (max-width: 800px) {
    .party-inputBox-width{
      width: 165px;
      }
  }

  ::ng-deep .mat-option-text.mat-option-text {
    word-wrap: break-word;
    white-space: pre-line;
    padding: 5px;
    margin: 2px;
    line-height: 15px;
  } */
