.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: 5px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  font-size: 30px;
  border-radius: 8px;
}
